.loginRow {
    background-image: linear-gradient(to bottom, #0c1f29, #487182);
}


img.logoLogin {
    width: 70px !important;
    height: 70px !important;
}

.loginCol {
    background-color: white;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 0%;
    border-color: #0c1f29;
}


.sideRow {
    background-color: rgb(154, 154, 155, 0.6);
}

@media screen and (max-width : 450px) {
    .loginCol {
        background-color: white;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
    }
}

button {
    background-color: #5dcad4;
    width: 63%;
    border: none;
    outline: none;
}

.fontS {
    font-size: 12px !important;
}

.submit {
    background-color: #5dcad4 !important;
    width: 63% !important;
}