.pagi a {}


.pagi li {
    padding: 5px 15px !important;
    display: inline !important;
}

.active {
    background-color: #5cdad4 !important;
    border-radius: 50%;
    color: white !important;
}

.active a {
    color: white !important;
}

.normal a {
    color: black !important;
}

.pre {
    font-weight: 600 !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 10px !important;
}

.pre a {
    color: #5cdad4 !important;
}

.pre:hover ,
.nex:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(92, 218, 212) !important;
}
.pre:hover a,
.nex:hover a{
    color: rgb(255, 255, 255) !important;

}
.nex{
    font-weight: 600 !important;
    color: #5cdad4 !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 10px !important;
}
.nex a {
    color: #5cdad4 !important;
}